<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Form Validation</div>
        <div class="card-body">
            <h5 class="card-title">Example form with inline field validations</h5>
            <form action="/add-lesson" method="post" class="needs-validation" novalidate accept-charset="utf-8">
                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                        <label for="lessonTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" value="{{editedLessonDetails.lessonTitle}}" name="lessonTitle" placeholder="Title" required>
                        <small class="form-text text-muted">Enter a title.</small>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter lesson's title address.</div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="lessonDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" name="lessonDescription" placeholder="Description" required>
                        <small class="form-text text-muted">Your description must be 8-20 characters long, contain letters and numbers only.</small>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter your password.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="lessonimgPath" class="form-label">Image path</label>
                    <input type="text" class="form-control" name="lessonimgPath" placeholder="./img/jgp.png" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter image's path.</div>
                </div>
                <div class="mb-3">
                    <label for="lessonDetails" class="form-label">Details</label>
                        <textarea name="lessonDetails">
                        Cleare this and add lesson details
                    </textarea>
                    
                </div>
                <div class="row g-2">
                    {{!-- <div class="mb-3 col-md-6">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" name="city" placeholder="City" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter your City.</div>
                    </div> --}}
                        <div class="mb-3 col-md-4">
                        <label for="restaurant" class="form-label">Restaurant</label>
                        <select name="restaurant" class="form-select" required>
                        {{#each restaurants}}
                            {{!-- <option value="" selected>Choose...</option> --}}
                            <option value="{{restaurantName}}">{{restaurantName}} <img src="https://www.seekpng.com/png/detail/18-184210_chef-hat-clipart-at-getdrawings-free-koki-vector.png" alt=""></option>
                            {{!-- <option value="2">Goryachka</option> --}}
                        {{/each}}
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please select a State.</div>
                    </div>
                    
                    <div class="mb-3 col-md-4">
                        <label for="lessonPart" class="form-label">Part</label>
                        <select name="lessonPart" class="form-select" required>
                            {{#if parts.length}}
                        {{#each parts}}
                            {{!-- <option value="" selected>Choose...</option> --}}
                            <option value="{{lessonsTypeName}}">{{lessonsTypeName}}</option>
                            {{!-- <option value="2">Goryachka</option> --}}
                        {{/each}}
                        {{else}}
                            <option value="">No element</option>
                        {{/if}}
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please select a State.</div>
                    </div>
                    
                    <div class="mb-3 col-md-2">
                        <label for="zip" class="form-label">Zip code</label>
                        <input type="text" class="form-control" name="zip" placeholder="00000" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a Zip code.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check1" required>
                        <label class="form-check-label" for="check1">
                        Check me out
                        </label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
            </form>
        </div>
    </div>
</div>